body,
h1,
h2,
p,
ul,
li,
form,
input,
textarea,
a {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Arial", sans-serif;
}
.header {
    position: fixed;
    top:0;
    left:0;
    background-color: #FFF2D8;
    display:flex;
    justify-content:space-between;
    width:100% ;
    border-bottom: 5px solid ;
    border-color: #BCA37F;
    
}
.h-element {
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 15px;
  color:#113946;
}
.container{
  position: relative;
  top:35px;
  margin:0;
}
#find{
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  top: 31px;
  width: 100%;
  height: 40px;
  background-color: #BCA37F;
}
#find-btn{
  height: 17px;
  margin-right: 20px;
  width: 20%;
  padding: 5px;
  border: 3px solid #113946;
  border-radius: 4px;
  font-size: 1em;
  outline: none;
  margin: 5px;
  background-color:#FFF2D8 ;
  transition: border 0.3s;
  font-weight: 700;
  font-size: 100%;
  color:#113946 ;
  background-color: #EAD7BB;
}

#image{
  width: 100%;
}

.bottom-left{
  position: absolute;
  left:5%;
  bottom: 10%;
  color:#BCA37F;
  font-weight: 500;
  font-size: 3em;
}
.bottom-right{
  position: absolute;
  right:5%;
  bottom: 10%;
  color:#BCA37F;
  font-weight: 500;
  font-size: 3em;
}
input {
  width: 32%;
  padding: 10px;
  border: 3px solid #113946 ;
  border-radius: 4px;
  font-size: 1em;
  outline: none;
  margin: 5px;
  background-color:#EAD7BB ;
  transition: border 0.3s;
}
.form{
  position: relative;
  background-color: #BCA37F;
}
.full-width{
  width: 20%;
  padding: 5px;
  border: 3px solid #113946;
  border-radius: 4px;
  font-size: 1em;
  outline: none;
  margin: 5px;
  background-color:#FFF2D8 ;
  transition: border 0.3s;
  font-weight: 700;
  font-size: 100%;
  color:#113946 ;
  background-color: #EAD7BB;


}
#bottom-ctn{
  position: relative;
  top: 31px;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  height: 100vh;
  background-color: #113946;
  margin:0px;
}
#bottom-2-ctn{
  position: relative;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  height: 100vh;
  background-color: #113946;
  margin:0px;
}
.box{
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #BCA37F;
  margin: 10px;
  border-radius: 10px;
  color:#113946;
  font-size: 90%;
}

